<h2>Attacker</h2>
<h3>Player</h3>
<p>{{ this.player.name}}</p>
<h4>Status</h4>
<form name="status-form">
  <label for="level">レベル: </label>
  <input name="level" type="number" [(ngModel)]="this.player.status.level">
  <br>
  <label for="strength">ちから: </label>
  <input name="strength" type="number" [(ngModel)]="this.player.status.strength">
  <br>
  <label for="magickPower">魔力: </label>
  <input name="magickPower" type="number" [(ngModel)]="this.player.status.magickPower">
  <br>
  <label for="vitality">活力: </label>
  <input name="vitality" type="number" [(ngModel)]="this.player.status.vitality">
  <br>
  <label for="speed">速さ: </label>
  <input name="speed" type="number" [(ngModel)]="this.player.status.speed">
</form>
<h4>Weapon</h4>
<form name="weapons-form">
  <p>
    WeaponType: 
    <select [(ngModel)]="this.selectedWeaponType" (change)="onChange()" name="weapon-type-select">
      <option *ngFor="let type of this.weaponTypes" [ngValue]="type">
        {{ type }}
      </option>
    </select>
  </p>
  <select [(ngModel)]="this.selectedWeapon" name="weapon-select">
    <option *ngFor="let weapon of this.filterdWeapons" [ngValue]="weapon">
      {{ weapon | weaponName }}
    </option>
  </select>
</form> 
<div *ngIf="this.selectedWeapon !== undefined">
  <p>selelcted: {{ this.selectedWeapon | weaponName }},
     Formula: {{ this.selectedWeapon.formula }}</p>
</div>
  
<h2>Defender</h2>
<form name="defender-form">
  <select [(ngModel)]="this.selectedMonster" name="defender-select">
    <option *ngFor="let monster of this.monsters" [ngValue]="monster">
      {{ monster.name }}
    </option>
  </select>
</form>

<h2>Damage</h2>
<button (click)="onClick()">Calculate</button>
<app-result [result]="this.result"></app-result>
